.App {
  position: relative;
}
.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  
  @media screen and (min-width: 640px) {
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: 1024px) {
    width: 900px;
  }

  @media screen and (min-width: 1280px) {
    width: 1140px;
  }

  .Logo {

    @media screen and (min-width: 640px) {
      margin-right: 2rem;
      img {
        height: 3rem;
      }
    }

    img {
      height: 2.5em;
      will-change: filter;
      transition: filter 300ms;
    }

    &:hover img {
      filter: drop-shadow(0 0 2em var(--primary-faded));
    }
  }
  h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5rem;
    text-align: center;
    color: var(--primary-color);
    @media screen and (min-width: 640px) {
      text-align: left;
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
  }
}

.card {
  padding: 2em;
}