:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: rgb(1, 180, 228);
  --primary-faded: rgba(1, 180, 228, .3);
  --white-text: rgb(248, 244, 231);
  --black-one: rgb(36, 36, 36);
  --black-two: rgb(26, 26, 26); 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--black-one);
}

#root {
  max-width: 90%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  cursor: pointer;
  appearance: none;
  outline: none;
  background: transparent;
  border: none;
  will-change: filter;
  transition: background-color .3s, filter .3s;
}

.button.action {
  background: var(--primary-color);
  color: #1a1a1a;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
}

.button.action:hover {
  filter: brightness(1.25);
}

.button:focus {
  outline: 2px auto var(--white-text);
}